@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ToDoList
<!--Add task form goes below-->
<form method="post">
    <input type="hidden" asp-for="TaskId" />
    <label asp-for="TaskName">Task Name:</label>
    <input asp-for="TaskName" />
    <br />
    <label asp-for="DueDate">Task Due Date:</label>
    <input asp-for="DueDate" />
    <br />
    <label asp-for="QuadrantNumber">Quadrant Number:</label>
    <input asp-for="QuadrantNumber" />
    <br />
    <label asp-for="CategoryId">Category:</label>
    <input asp-for="CategoryId" />
    <br />
    <label asp-for="Completed">Completed:</label>
    <input asp-for="Completed" />
    <br />
    <button type="submit">Submit</button>
</form>