@{
    ViewData["Title"] = "Home Page";
}
@model List<ToDoList>
<!--Quadrant will go here on the index page-->
@foreach (var listitem in Model)
{
<div>
    Quadrants go here!
    @listitem.TaskName;
    @listitem.DueDate;
</div>
}